* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  overflow: hidden;
}
@font-face {
  font-family: Anonym;
  src: url("assets/fonts/Anonymous_Pro.ttf");
}
@font-face {
  font-family: Michroma;
  src: url("assets/fonts/Michroma.ttf");
}

h1 {
  font-family: Michroma;
  font-size: 45px;
  margin-bottom: 75px;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 20px 35px 20px 35px;
  background-color: #f7df1e;
}

.text {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: Anonym;
}

.abs-img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
}

.flex-cont-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 170px;
}

.cit {
  display: inline-block;
  position: relative;
  left: 900px;
  top: 100px;
  color: #000;
  font-family: Michroma;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs-text {
  margin-bottom: 50px;
  width: 821px;
  height: 205px;
}

.hts {
  margin-top: 10px;
  margin-bottom: 16px;
  /* color: #f7df1e; */
  font-size: 35px;
  font-family: Anonym;
  margin-left: 22px;
}

.ts-cont {
  width: 1066px;
  height: 140px;
}

.flxcont {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ts-text {
  font-size: 30px;
  margin-bottom: 37px;
  font-family: Anonym;
  margin-left: 22px;
}

.list-card {
  display: flex;
  gap: 20px;
}

.list-card label {
  background-color: #000;
  color: #fff;
  width: 70px;
  height: 70px;

  font-family: Anonym;
  font-size: 45px;
  display: grid;
  place-items: center;
}

.list-title h2 {
  width: 750px;
  height: 45px;
  font-size: 50px;
  font-family: Anonym;
  margin-bottom: 20px;
}
.list-title p {
  width: 990px;
  font-size: 45px;
  font-family: Anonym;
}

.ss-text {
  width: 973px;
  height: 270px;
  color: #000;
  font-family: Anonym;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.backend-bg {
  background: #8fc53f;
  width: 100vw;
  height: 100vh;
  padding: 20px 35px 20px 35px;
}

.centered-list {
  display: grid;
  place-items: center;
}

.centered-test {
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  height: 100vh;
  width: 100%;
}

.title-test {
  color: #fff;
  font-family: Michroma;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-test {
  color: #fff;
  font-family: Anonym;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-card .label-test {
  background-color: #fff;
  color: #000;
  width: 70px;
  height: 70px;

  font-family: Anonym;
  font-size: 45px;
  display: grid;
  place-items: center;
}
